<div class="container">
  <nav class="navbar navbar-expand-lg	navbar-dark" style="background: #7A8B8B">
      <a class="navbar-brand" [routerLink]="['/aluno']">Acadêmico</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSite">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/aluno']" style="color: aliceblue;">Disciplinas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/aluno/historico']" style="color: aliceblue;">Histórico</a>
              </li>
              <div class="btn-group">
                  <button class="btn btn-sm" type="button" style="background: #7A8B8B" id="botaoNome">
                      John Emerson
                  </button>
                  <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      style="background: #7A8B8B; color: aliceblue" id="botaoSair">
                      <span class="sr-only">Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Sair</a>
                  </div>
              </div>
          </ul>
      </div>
  </nav>

  <table class="table table-hover" id="tabela-historico">
      <thead>
          <tr>
              <th scope="col">Disciplina</th>
              <th scope="col">Situação</th>
              <th scope="col">Período</th>
              <th scope="col">Nota</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let disciplina of listaDisciplinas; let notaMedia of listaMediaNotas">
              <td>{{disciplina.nome}}</td>
              <td>{{disciplina.situacao}}</td>
              <td>{{disciplina.periodo}}</td>
              <td>{{notaMedia}}</td>
          </tr>
      </tbody>
  </table>
</div>