<div class="container">

  <nav class="navbar navbar-expand-lg	navbar-dark " style="background: #7A8B8B">

    <a class="navbar-brand" [routerLink]="['/administrador']">Acadêmico - Atualização de Dados</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/administrador']" style="color: aliceblue;">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/administrador/cadastramento']" style="color: aliceblue;">Cadastrar</a>
        </li>

        <div class="btn-group">
          <button class="btn  btn-sm" type="button" style="background: #7A8B8B; color: aliceblue;">
            {{usuario.nome}}<br>
            <h6 id="status-usuario"> Administrador</h6>
          </button>
          <button type="button" class="btn btn-sm  dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="background: #7A8B8B; color: aliceblue;">
            <span class="sr-only">Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Sair</a>
          </div>
        </div>
      </ul>
    </div>
  </nav>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-aluno-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="false" [ngClass]="{disabled: travarValor !== 'aluno' , active: travarValor === 'aluno'}">Aluno</a>

      <a class="nav-item nav-link" id="nav-professor-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false" [ngClass]="{disabled: travarValor !== 'professor' , active: travarValor === 'professor'}">Professor</a>

      <a class="nav-item nav-link" id="nav-curso-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false" [ngClass]="{disabled: travarValor !== 'curso' , active: travarValor === 'curso'}">Curso</a>

      <a class="nav-item nav-link" id="nav-disciplina-tab" data-toggle="tab" href="#nav-disciplina" role="tab"
        aria-controls="nav-contact" aria-selected="false" [ngClass]="{disabled: travarValor !== 'disciplina' , active: travarValor === 'disciplina'}">Disciplina</a>

    </div>

  </nav>

  <div class="tab-content" id="nav-tabContent">

    <div [ngClass]="{active: travarValor === 'aluno', show: travarValor === 'aluno'}" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNome4">Nome</label>
            <input [(ngModel)]="aluno.nome" type="text" class="form-control" id="inputNome4" placeholder="Nome">
          </div>
          <div class="form-group col-md-6">
            <label for="inputSenha4">Senha</label>
            <input [(ngModel)]="aluno.senha" type="password" class="form-control" id="inputSenha4" placeholder="Senha">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEndereco">Endereço</label>
          <input [(ngModel)]="aluno.rua" type="text" class="form-control" id="inputEndereco" placeholder="Rua ...">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputBairro">Bairro</label>
            <input [(ngModel)]="aluno.bairro" type="text" class="form-control" id="inputBairro"
              placeholder="Bairro ...">
          </div>
          <div class="form-group col-md-6">
            <label for="inputComplemento">Complemento</label>
            <input [(ngModel)]="aluno.complemento" type="text" class="form-control" id="inputComplemento"
              placeholder="Ex: Ap 401 ">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCidade">Cidade</label>
            <input [(ngModel)]="aluno.cidade" type="text" class="form-control" id="inputCidade">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEstado">Estado</label>
            <select [(ngModel)]="aluno.estado" id="inputEstado" class="form-control">
              <option selected>Escolher...</option>
              <option>Paraíba</option>
              <option>Pernambuco</option>
              <option>Alagoas</option>
              <option>São Paulo</option>
              <option>Rio de Janeiro</option>
              <option>Rio Grande do Sul</option>
              <option>Santa Catarina</option>
              <option>Paraná</option>
              <option>Acre</option>
              <option>Amapá</option>
              <option>Amazonas</option>
              <option>Bahia</option>
              <option>Ceará</option>
              <option>Distrito Federal</option>
              <option>Espírito Santo</option>
              <option>Goiás</option>
              <option>Maranhão</option>
              <option>Mato Grosso</option>
              <option>Mato Grosso do Sul</option>
              <option>Minas Gerais</option>
              <option>Pará</option>
              <option>Piauí</option>
              <option>Rio Grande do Norte</option>
              <option>Rôndonia</option>
              <option>Roraima</option>
              <option>Sergipe</option>
              <option>Tocantins</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCEP">CEP</label>
            <input [(ngModel)]="aluno.cep" type="text" class="form-control" id="inputCEP">
          </div>


          <div class="form-group col-md-6">
            <label for="inputData">Data Vínculo</label>
            <input [(ngModel)]="aluno.dataVinculo" type="date" class="form-control" id="inputData" placeholder="Data">
          </div>
        </div>
        <div>
          <p>Disciplinas: </p>
          <div *ngFor="let disciplina of listaDisciplina" class="form-check">

            <input (click)="checkGroupDisciplinasDeProfessor(disciplina)" class="form-check-input" type="checkbox">
            <label class="form-check-label">{{disciplina}}</label>
          </div>

          <button (click)="enviarAluno()" type="submit" class="btn btn-dark">Confirmar</button>
        </div>
      </div>

    </div>

    <div [ngClass]="{active: travarValor === 'professor', show: travarValor === 'professor'}" class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNome4">Nome</label>
            <input [(ngModel)]="professor.nome" type="text" class="form-control" id="inputNome4" placeholder="Nome">
          </div>
          <div class="form-group col-md-6">
            <label for="inputSenha4">Senha</label>
            <input [(ngModel)]="professor.senha" type="text" class="form-control" id="inputSenha4" placeholder="Senha">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEndereco">Endereço</label>
          <input [(ngModel)]="professor.rua" type="text" class="form-control" id="inputEndereco" placeholder="Rua ...">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputBairro">Bairro</label>
            <input [(ngModel)]="professor.bairro" type="text" class="form-control" id="inputBairro"
              placeholder="Bairro ...">
          </div>
          <div class="form-group col-md-6">
            <label for="inputComplemento">Complemento</label>
            <input [(ngModel)]="professor.complemento" type="text" class="form-control" id="inputComplemento"
              placeholder="Ex: Ap 401 ">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCidade">Cidade</label>
            <input [(ngModel)]="professor.cidade" type="text" class="form-control" id="inputCidade">
          </div>
          <div class="form-group col-md-4">
            <label for="inputEstado">Estado</label>
            <select [(ngModel)]="professor.estado" id="inputEstado" class="form-control">
              <option selected>Escolher...</option>
              <option>Paraíba</option>
              <option>Pernambuco</option>
              <option>Alagoas</option>
              <option>São Paulo</option>
              <option>Rio de Janeiro</option>
              <option>Rio Grande do Sul</option>
              <option>Santa Catarina</option>
              <option>Paraná</option>
              <option>Acre</option>
              <option>Amapá</option>
              <option>Amazonas</option>
              <option>Bahia</option>
              <option>Ceará</option>
              <option>Distrito Federal</option>
              <option>Espírito Santo</option>
              <option>Goiás</option>
              <option>Maranhão</option>
              <option>Mato Grosso</option>
              <option>Mato Grosso do Sul</option>
              <option>Minas Gerais</option>
              <option>Pará</option>
              <option>Piauí</option>
              <option>Rio Grande do Norte</option>
              <option>Rôndonia</option>
              <option>Roraima</option>
              <option>Sergipe</option>
              <option>Tocantins</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputCEP">CEP</label>
            <input [(ngModel)]="professor.cep" type="text" class="form-control" id="inputCEP">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputData">Data Vínculo</label>
            <input [(ngModel)]="professor.dataVinculo" type="date" class="form-control" id="inputData"
              placeholder="Data">
          </div>
          <div class="form-group col-md-6">
            <label for="inputTitulacao">Titulação</label>
            <input [(ngModel)]="professor.titulacao" type="text" class="form-control" id="inputTitulacao"
              placeholder="Titulação">
          </div>
        </div>
        <p>Disciplina:</p>
        <div *ngFor="let disciplina of listaDisciplina" class="form-check">
          <input (click)="checkGroupDisciplinasDeProfessor(disciplina)" class="form-check-input" type="checkbox">
          <label class="form-check-label">{{disciplina}}</label>
        </div>

        <button (click)="enviarProfessor()" type="submit" class="btn btn-dark">Confirmar</button>
      </div>

    </div>

    <div [ngClass]="{active: travarValor === 'curso', show: travarValor === 'curso'}" class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

      <div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputNomeCurso">Nome do curso</label>
            <input [(ngModel)]="curso.nome" type="text" class="form-control" id="inputNomeCurso"
              placeholder="Nome do Curso">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputTurmaAno">Turma-ano</label>
            <input [(ngModel)]="curso.turmaAno" type="number" id="inputTurmaAno" class="form-control"
              placeholder="2019">
          </div>
          <div class="form-group col-md-6">
            <label for="inputTurmaSemestre">Turma-semestre</label>
            <select [(ngModel)]="curso.turmaSemestre" type="number" id="inputTurmaSemestre" class="form-control">
              <option selected value="1">primeiro semestre</option>
              <option value="2">segundo semestre</option>
            </select>
          </div>
        </div>

        <button (click)="enviarCurso()" type="submit" class="btn btn-dark">Confirmar</button>
      </div>
    </div>
    <div [ngClass]="{active: travarValor === 'disciplina', show: travarValor === 'disciplina'}" class="tab-pane fade" id="nav-disciplina" role="tabpanel" aria-labelledby="nav-disciplina-tab">
      <div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputDisciplina">Disciplina</label>
            <input [(ngModel)]="disciplina.nome" id="inputDisciplina" type="text" class="form-control">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCodigo">Área da disciplina</label>
            <input [(ngModel)]="disciplina.areaDeAtuacao" type="text" class="form-control" id="inputCodigo"
              placeholder="Ti/Medicina/Direito">
          </div>

          <div class="form-group col-md-4">
            <label for="inputAreaDiscp">Periodo</label>
            <select [(ngModel)]="disciplina.periodo" id="inputAreaDiscp" class="form-control">
              <option selected value="1 Periodo">1 Período</option>
              <option selected value="2 Periodo">2 Período</option>
              <option selected value="3 Periodo">3 Período</option>
              <option selected value="4 Periodo">4 Período</option>
              <option selected value="5 Periodo">5 Período</option>
              <option selected value="6 Periodo">6 Período</option>
              <option selected value="7 Periodo">7 Período</option>
              <option selected value="8 Periodo">8 Período</option>
              <option selected value="9 Periodo">9 Período</option>
              <option selected value="10 Periodo">10 Período</option>

            </select>
          </div>
        </div>

        <p>Cursos:</p>
        <div class="form-check" *ngFor="let curso of listaCursos">
          <input (click)="checkGroupCursosDeDisciplinas(curso)" class="form-check-input" type="checkbox" value="curso">
          <label class="form-check-label">{{curso}}</label>
        </div>

        <button (click)="enviarDisciplina()" type="submit" class="btn btn-dark">Confirmar</button>
      </div>
    </div>
  </div>
</div>