<div class="container">

  <nav class="navbar navbar-expand-lg	navbar-dark " id="praBaixo" style="background: #7A8B8B">

      <a class="navbar-brand" [routerLink]="['/professor']">Acadêmico - Inserção de Notas</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/professor']" style="color: aliceblue;">Início</a>
              </li>
              <div class="btn-group">
                  <button class="btn  btn-sm" type="button" style="background: #7A8B8B; color: aliceblue;">
                      John Emerson<br>
                      <h6 id="status-usuario">Professor</h6>
                  </button>
                  <button type="button" class="btn btn-sm  dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      style="background: #7A8B8B; color: aliceblue;">
                      <span class="sr-only">Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Sair</a>
                  </div>
              </div>
          </ul>
      </div>

  </nav>

  <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Inserir notas dos Alunos</a>

      </div>

  </nav>

  <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <form>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputNome4">Nome</label>
                      <input type="text" class="form-control" id="inputNome4" placeholder="Nome">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputMatricula4">Matrícula</label>
                      <input type="number" class="form-control" id="inputMatricula4" placeholder="Matrícula">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputNota">Inserir nota</label>
                      <input type="text" class="form-control" id="inputNota" placeholder="Nota do aluno">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputCurso">Escolher curso</label>
                      <select id="inputCurso" class="form-control">
                          <option selected>Escolher...</option>
                          <option>Ciência da Computação</option>
                          <option>Medicina</option>
                          <option>Direito</option>
                      </select>
                  </div>
                  <div class="form-group col-md-2">
                      <label for="inputTurma">Turma</label>
                      <input type="text" class="form-control" id="inputTurma" placeholder="Semestre">
                  </div>
              </div>
              <button type="submit" class="btn color: aliceblue;">Confirmar</button>
          </form>
      </div>
  </div>
  <div class="botaoVoltar"><a [routerLink]="['/professor/estudantesPorCurso']"><button type="button"
    class="btn btn-dark"> <i class="fas fa-angle-left"></i>Voltar</button></a>
  </div>
</div>